.section {
    position: relative;
    padding: 20px; /* Adjust as needed */
}

.section::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -50%;
    width: 200%; /* Adjust the width to control the length of the line */
    height: 2px; /* Adjust the height of the line */
    background-color: #000; /* Change the color as needed */
    transform: rotate(-3deg); /* Adjust the angle of the line */
    z-index: -1;
}

#about::before {
    background-color: #FF5733; /* Change color for About Me section */
}

#projects::before {
    background-color: #6C3483; /* Change color for Projects section */
}

