body {
    margin: 0;
}

#home {
position: relative;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(135deg, #474044, #4F5165);
    transform: skewY(-2deg);
    transform-origin: bottom;
    padding-bottom: 35px;
}
#home > * {
    transform: skewY(2deg); /* Counter skew for children to maintain horizontal appearance */
    padding-top: 80px;
}

.next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.fix-angle{
    transform: skewY(2deg); 
}
/* .about {
    background-color: #4F5165;
    padding-top: 1px;
    position: relative; 
    z-index: 1; 
    height: 40vh;
} */

.center {
    text-align: center;
    padding-bottom: 30px;
    display: block;
    font-family: 'Source Sans Pro',sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* Slideshow CSS */
* {box-sizing:border-box}

.slideshow-container {
    position: relative;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
}

.slideshow-content {
    display: flex; /* Use flexbox for layout */
    background-color: #9EA3B0;
}

.slideshow-image {
    flex: 1; /* Take up remaining space */
}

.slideshow-text {
    flex: 1; /* Take up remaining space */
    padding: 20px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in width calculation */
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* .fade {
    animation-name: fade;
    animation-duration: 1.5s;
} */

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#jumps {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #454545;
    padding: 10px 0;
    z-index: 1000;
    padding: 25px 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
}

.container span {
    margin-left: 20px;
    float: right;
}

.container span:first-child {
    margin-left: 0;
}

.container span a {
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro',sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: transform .3s;
}

.container span a:hover{
    color: #E4C3AD;
    transform: scale(1.1); /* Example transformation on hover */
}
.imgs {
    padding: 5px 0px 1px 5px;
}

#about {
    background-color: #4F5165;
    padding-top: 1px;
    position: relative;
    z-index: -1;
    transform: skewY(-2deg);
    margin-top: -1px;
    min-height: 90vh;
}
.sep {
    height: 10px;
    border-radius: 5px;
    background-color: white;
    width: 5%;
    margin-bottom: 25px;
}
.head-sub{
    margin-bottom: 0px;
    height: 50px;
    font-size: 2rem;
}
.desc-sec{
    font-size: 1rem;
    max-width: 70rem;
    display: block;
    margin: auto;
    line-height: 1.7;
}
.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
    letter-spacing: 1px;
}
.about-title{
    margin-bottom: 5px;
}
.about-para{
    margin-bottom: 5px;
}
.about-me{
    font-family: 'Source Sans Pro',sans-serif;
    padding-left: 5rem;
}
.about-writing{
    line-height: 1.7;
}
.skills-container{
    margin-right: 20px;
}
.skills-boxes-container{
    background-color:#bbb;
    padding: 10px;
    border-radius: 10px;
    line-height: 50px;
    margin-right: 10px;
}
.skills-boxes{
    padding-top: 10px;
    letter-spacing: 1px;
}

#projects {
    background-color: #5a5c73;
    padding-top: 1px;
    position: relative;
    z-index: -1;
    transform: skewY(-2deg);
    margin-top: -20px;
    min-height: 110vh;
}
